:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --background-color: #e5e5e5;
  --secondary-background-color: #f5f4fa;
  --whit-color: #ffffff;
  --accent-color: #2196f3;
  --footer-color: #2f303a;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
  font-style: normal;
  color: inherit;
  font-family: inherit;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: 0;
}

p {
  margin: 0;
}

.page {
  margin: 0;
  padding: 0;
  color: var(--primary-text-color);
  background-color: var(--background-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.main-nav {
  display: flex;
  align-items: center;
}

/*Utilits*/
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header-background {
  background-color: var(--whit-color);
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
}
.double-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.logo {
  color: var(--primary-text-color);
  font-family: Raleway;
  font-style: normal;
  font-size: 26px;
  line-height: 1.2;
  font-family: Raleway;
}
.logo-second {
  color: var(--accent-color);
}
.logo:hover,
.logo-second:hover {
  color: var(--accent-color);
}

/*site-nav*/
.site-nav {
  margin-left: 85px;
  display: flex;
  margin-left: 85px;
  margin-top: 32px;
  margin-bottom: 32px;
  align-items: center;
}

.site-nav .link {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}
/*auth-nav*/
.auth-nav {
  margin-left: auto;
  display: flex;
  padding-bottom: 32px;
  padding-top: 32px;
  align-items: center;
}
.auth-nav .item + .item {
  margin-left: 30px;
}

.info {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.info:hover,
.info:focus {
  color: var(--accent-color);
}
/*hero*/
.overlay {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../images/Header.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.hero-background {
  align-items: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: grey;
}
.hero-title {
  margin-bottom: 30px;

  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.4;

  letter-spacing: 0.06em;
  text-transform: uppercase;
}
.button-primary {
  padding: 10px 32px;
  display: inline-block;
  text-align: center;
  border-radius: 6px;

  color: var(--whit-color);
  background-color: var(--accent-color);
  border: 1px solid transparent;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  text-decoration: none;
  letter-spacing: 0.06em;
}

/*section*/
.team-class {
  background-color: var(--secondary-background-color);
}
.section-title {
  margin-bottom: 50px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
}

.our-boxinfo {
  margin-right: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.button-item:last-child {
  margin-right: 0;
}
.list-img {
  margin-right: 30px;
}
.section .text-title {
  padding-top: 27px;
  padding-bottom: 27px;
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-align: center;
  text-transform: uppercase;
}
.section .img-offer {
  display: block;
}

.team-list {
  margin-top: 30px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}
.section .work-list {
  margin-top: 10px;
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.1;
  text-align: center;
}

/*ameil*/

.email-list {
  margin-top: 16px;
  margin-left: 32px;
  margin-bottom: 24px;
}

.email:hover,
.email:focus {
  color: var(--accent-color);
}
/*feature*/
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: 270px;
  margin-right: 30px;
}
.feature-list .item:last-child {
  margin-right: 0;
}

.feature-list .title {
  margin-top: 30px;
  margin-bottom: 10px;

  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
.feature-list .text {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}

.feature-images {
  display: block;
  padding: 25px 100px;
  background-color: var(--secondary-background-color);
}
/*customers-img*/
.client-logo {
  margin-right: 30px;
}
.href-logo {
  display: block;
}

.section .img-hover:hover {
  color: var(--accent-color);
}
.button {
  width: 44px;
  height: 44px;
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.8;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.button-item {
  margin-right: 10px;
}

.button:hover,
.button:focus {
  color: var(--whit-color);
  background-color: var(--accent-color);
}
.adres {
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adres-info {
  color: rgba(255, 255, 255, 0.6);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.7;
}
.adres-menu {
  display: block;
}

.adres-info:hover,
.adres-info:focus {
  color: var(--accent-color);
}

/*footer*/
.footer-bacground {
  background-color: #2f303a;
}
.footer {
  padding-top: 45px;
  padding-bottom: 28px;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.item-logo {
  margin-right: 69px;
}
.item-button {
  margin-right: 94px;
}
.item-mailing {
  margin-right: auto;
}
.item-adres {
  margin-top: 8px;
}

.adres-pozitsiya {
  margin-top: 9px;
}

.buton-styl {
  margin-top: 20px;
}

.developed {
  margin-top: 18px;
  color: rgba(255, 255, 255, 0.4);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 2;
  text-align: center;
}
.border {
  border: 1px solid rgba(255, 255, 255, 0.1);
}
.container-footer {
  padding-bottom: 21px;
}
/*portfolio-nav*/
.portfolio-background {
  padding-top: 93px;
  padding-bottom: 94px;
}
.portfolio-content {
}
.portfolio-item {
  padding: 20px 24px;
}
.zerro {
  display: none;
  text-align: center;
}
.portfolio-nav .portfolio-href {
  display: flex;
  margin-bottom: 34px;
  margin-left: auto;
  margin-right: auto;
}
.href-item {
  display: flex;
  margin-left: 8px;
}
.portfolio-img {
  display: block;
}

.portfolio-nav .option {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
}

.portfolio-class {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-element {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio-element:nth-child(3n) {
  margin-right: 0;
}
.portfolio-element:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.option {
  min-width: 73px;
  padding: 6px 22px;
  display: inline;
  background-color: var(--secondary-background-color);
}
.addition {
  color: var(--secondary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 1, 8;
}
.menu {
  color: var(--primary-text-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.option:hover,
.option:focus {
  color: var(--whit-color);
  background-color: var(--accent-color);
}
/*option-list*/

.text-addition {
  display: none;
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}
.mailing {
  color: var(--whit-color);
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.1;
  text-transform: uppercase;
}
